<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="url" value="https://demo.guru99.com/v4/"></parameter>
    <test name="Verify login section with Valid Credentials">
        <parameter name="user" value="mngr397408"></parameter>
        <parameter name="pass" value="yrynahU"></parameter>
        <parameter name="title" value="Guru99 Bank Manager HomePage"></parameter>
        <classes>
            <class name="testScripts.supportTest.BrowserUtils"/>
            <!--Test case-->
            <class name="testScripts.LogInScenarios">
                <methods>
                    <include name="enterCredentials"/>
                    <include name ="clickLogIn"/>
                </methods>
            </class>
            <!--Assertion-->
            <class name = "testScripts.supportTest.AssertionUtils">
                <methods>
                    <include name ="checkAlertMsg"/>
                    <include name="checkPageTitle"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Verify logIn With Invalid UserName and Password">
        <parameter name="user" value="mngr39"></parameter>
        <parameter name="pass" value="yryn"></parameter>
        <parameter name="alertMsg" value="User or Password is not valid"></parameter>
        <classes>
            <class name="testScripts.LogInScenarios">
                <methods>
                    <include name="enterCredentials"/>
                    <include name ="clickLogIn"/>
                </methods>
            </class>
            <class name ="testScripts.supportTest.AssertionUtils">
                <methods>
                    <include name="checkAlertMsg"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Verify logIn With Valid UserName and invalid Password">
        <parameter name="user" value="mngr397408"></parameter>
        <parameter name="pass" value="yrynah"></parameter>
        <parameter name="alertMsg" value="User or Password is not valid"></parameter>
        <classes>
            <class name="testScripts.LogInScenarios">
                <methods>
                    <include name="enterCredentials"/>
                    <include name ="clickLogIn"/>
                </methods>
            </class>
            <class name ="testScripts.supportTest.AssertionUtils">
                <methods>
                    <include name="checkAlertMsg"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Validating Reset button ">
        <parameter name="user" value="mngr397408"></parameter>
        <parameter name="pass" value="yrynahU"></parameter>
        <parameter name="title" value="Guru99 Bank Home Page"></parameter>
        <classes>
            <!--Test case-->
            <class name="testScripts.LogInScenarios">
                <methods>
                    <include name="enterCredentials"/>
                    <include name ="clickResetBtn"/>
                </methods>
            </class>
            <!--Assertion-->
            <class name = "testScripts.supportTest.AssertionUtils">
                <methods>
                    <include name="checkPageTitle"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Verify login section with InValid userName and valid password">
        <parameter name="user" value="hari"></parameter>
        <parameter name="pass" value="yrynahU"></parameter>
        <parameter name="alertMsg" value="User or Password is not valid"></parameter>
        <classes>
            <!--Test case-->
            <class name="testScripts.LogInScenarios">
                <methods>
                    <include name="enterCredentials"/>
                    <include name ="clickLogIn"/>
                </methods>
            </class>
            <!--Assertion-->
           <class name = "testScripts.supportTest.AssertionUtils">
                <methods>
                    <include name="checkAlertMsg"/>
                </methods>
            </class>
        </classes>
    </test>-->
</suite>